**/bin
**/obj
**/Debug
**/Release
**/*.env
**/appsettings.json
**/appsettings.Development.json
**/appsettings.Production.json
.git
.gitignore
.vs
.idea
.vscode
.DS_Store
Thumbs.db
README.md
smartnotes-web
SmartNotes.Whisper/models
